*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgb(226,12,12);
    background: linear-gradient(180deg, rgba(226,12,12,0.4430147058823529) 38%, rgba(255,226,0,1) 60%);
    text-align: center;
}

/* styling Staff details */
.staffContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* styling contact element */

.contacts{
    display: flex;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
}
.contact-info{
    padding: 5px 17px;
}
.contact-info2{
    font-weight: bold;
    word-spacing: 9px;

}
/* styling staff Contact */
.staffContact{
    display: flex;

}

/* styling the Search component */
.form{
    width: 615px;
    padding: 10px 5px;
    font-style: italic;
    border: 0;
}